<mat-nav-list>      
  <a mat-button routerLinkActive="is-active" [routerLink]="'/home'" (click)="onSidenavClose()"> Home </a>
  <a mat-button routerLinkActive="is-active"  [routerLink]="'/properties'" (click)="onSidenavClose()"> Properties </a>
  <a mat-button routerLinkActive="is-active" [routerLink]="'/agents'" (click)="onSidenavClose()"> Agents </a>
  <a mat-button routerLinkActive="is-active"  [routerLink]="'/pages'" (click)="onSidenavClose()"> Pages </a>
  <a mat-button routerLinkActive="is-active"  [routerLink]="'/contact'" (click)="onSidenavClose()" > Contact </a>
</mat-nav-list>