<header>
  <div class="topBar">
    <div class="logo_cont">
      <div class="logo"></div>
      <span>House of dreams</span>
    </div>
    <div class="topBar_container">
      <app-timer-clock></app-timer-clock>
      <div class="topBar__themeSwitcher">TS</div>
    </div>
  </div>
  <nav>
    <ul>
      <li><a routerLinkActive="is-active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="is-active" routerLink="/properties">Properties</a></li>
      <li><a routerLinkActive="is-active" routerLink="/agents">Agents</a></li>
      <li><a routerLinkActive="is-active" routerLink="/pages">Pages</a></li>
      <li><a routerLinkActive="is-active" routerLink="/contact">Contact</a></li>
    </ul>
  </nav>  
</header>