@import "~@angular/material/theming";
@import "./variables.scss";

@include mat-core();

$real-estate-app-primary: mat-palette($mat-indigo, 600);
$real-estate-app-accent: mat-palette($mat-blue, 600);
$real-estate-warn: mat-palette($mat-red, 500);
$real-estate-app-theme: mat-light-theme(
  (
    color: (
      primary: $real-estate-app-primary,
      accent: $real-estate-app-accent,
      warn: $real-estate-warn,
    ),
  )
);

$real-estate-dark-primary: mat-palette($mat-indigo, 800);
$real-estate-dark-accent: mat-palette($mat-blue, 800);
$real-estate-dark-warn: mat-palette($mat-red, 600);
$real-estate-dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: $real-estate-dark-primary,
      accent: $real-estate-dark-accent,
      warn: $real-estate-dark-warn,
    ),
  )
);

body {
  margin: 0;
  padding: 0;
  background-color: $re_main_blue;
  height: 200vh;
  color: $re_creamy;
  font-family: system-ui;
}

p {
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include angular-material-theme($real-estate-app-theme);

  $dark-foreground-palette: map-get($real-estate-app-theme, background);

  .header {
    background-color: rgba(
      mat-color($real-estate-app-primary, default),
      0.5
    ) !important;
  }

  &.dark-theme {
    @include angular-material-theme($real-estate-dark-app-theme);

    .header {
      background-color: rgba(
        mat-color($real-estate-dark-primary, default),
        0.5
      ) !important;
    }
  }
}
