@import "~@angular/material/theming";
@import "./variables.scss";

@include mat-core();

body {
  margin: 0;
  padding: 0;
  background-color: $re_main_blue;
  height: 200vh;
  color: $re_creamy;
  font-family: system-ui;
}

p {
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @include angular-material-theme($real-estate-app-theme);

  $dark-foreground-palette: map-get($real-estate-app-theme, background);

  .header {
    background-color: rgba(
      mat-color($real-estate-app-primary, default),
      0.5
    ) !important;
  }

  &.dark-theme {
    @include angular-material-theme($real-estate-dark-app-theme);

    .header {
      background-color: rgba(
        mat-color($real-estate-dark-primary, default),
        0.5
      ) !important;
    }
  }
}
