@import "~@angular/material/theming";

$re_main_blue: #5d7fb2;
$re_creamy: #dfdfdf;
$re_white: #eaeef5;
$re_gray: #232323;

@include mat-core();

$real-estate-app-primary: mat-palette($mat-indigo, 600);
$real-estate-app-accent: mat-palette($mat-blue, 600);
$real-estate-warn: mat-palette($mat-red, 500);
$real-estate-app-theme: mat-light-theme(
  (
    color: (
      primary: $real-estate-app-primary,
      accent: $real-estate-app-accent,
      warn: $real-estate-warn,
    ),
  )
);

$real-estate-dark-primary: mat-palette($mat-indigo, 800);
$real-estate-dark-accent: mat-palette($mat-blue, 800);
$real-estate-dark-warn: mat-palette($mat-red, 600);
$real-estate-dark-app-theme: mat-dark-theme(
  (
    color: (
      primary: $real-estate-dark-primary,
      accent: $real-estate-dark-accent,
      warn: $real-estate-dark-warn,
    ),
  )
);
